vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|1
vti_webservertype:SR|diskweb
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|none
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|08 Aug 2000 08:39:03 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|b
vti_copytimestamp_file\:///C\:/My Documents/My Webs/C\:/My Documents/My Webs:TR|07 Oct 2000 15:02:27 -0000
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en
vti_structto_localhost\\c\:\\my documents\\my webs/c\:/my documents/my webs:TR|04 Oct 2000 16:35:11 -0000
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_usernames:VR|Krist
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_missingoverlays:VX|
vti_missingoverlaylabels:VX|
vti_structfrom_localhost\\c\:\\atelier\\web\\as\\krist/c\:/atelier/web/as/krist:TR|03 Aug 2000 14:53:24 -0000
vti_showhiddenpages:IR|1
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_httpdversion:SX|FrontPage DBW
vti_ignorekeyboard:IR|1
vti_navbuttonuplabel:SR|Up
vti_textindexood:IR|0
