vti_encoding:SR|utf8-nl
vti_author:SR|cchateauvieux
vti_modifiedby:SR|cchateauvieux
vti_timecreated:TR|06 May 2002 15:52:58 -0000
vti_timelastmodified:TR|12 May 2002 18:08:17 -0000
vti_filesize:IR|6733
vti_extenderversion:SR|4.0.2.4426
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|12 May 2002 18:05:14 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig:TX|12 May 2002 18:05:14 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig:TW|13 May 2001 08:05:00 -0000
vti_cacheddtm:TX|12 May 2002 18:05:14 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_syncofs_support.metamerge.com\:21/%2fwww/docs/mig:TW|25 May 2001 00:24:00 -0000
vti_syncwith_support.metamerge.com\:21/%2fwww/docs/mig:TX|12 May 2002 18:05:14 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig_beta:TW|24 May 2001 09:40:00 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig_beta:TX|12 May 2002 18:05:14 -0000
vti_syncwith_freedom1.uwc.org\:21/%2fhome/uwcnet/html/mig:TX|12 May 2002 18:05:14 -0000
vti_syncofs_freedom1.uwc.org\:21/%2fhome/uwcnet/html/mig:TW|25 May 2001 15:18:00 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig_unity:TX|12 May 2002 18:05:14 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig_unity:TW|25 May 2001 16:40:00 -0000
