vti_encoding:SR|utf8-nl
vti_author:SR|CHATEAU
vti_modifiedby:SR|CHATEAU
vti_timecreated:TR|27 Feb 2001 00:39:00 -0000
vti_timelastmodified:TR|27 Feb 2001 00:39:00 -0000
vti_extenderversion:SR|4.0.2.2717
vti_cacheddtm:TX|26 Feb 2001 23:39:02 -0000
vti_filesize:IR|2186
vti_cachedlinkinfo:VX|S|radrule.gif S|radbul1.gif S|radbul2.gif S|radbul3.gif S|radbanr.gif S|radhbtn.gif S|radhbtn.gif S|radhsel.gif S|radvbtn.gif S|radvbtn.gif S|radvsel.gif S|radhom.gif S|radhom.gif S|radhom.gif S|radnxt.gif S|radnxt.gif S|radnxt.gif S|radbck.gif S|radbck.gif S|radbck.gif S|radup.gif S|radup.gif S|radup.gif S|radbul1.gif S|radbul2.gif S|radbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/krist/radrule.gif FSUS|_themes/krist/radbul1.gif FSUS|_themes/krist/radbul2.gif FSUS|_themes/krist/radbul3.gif FSUS|_themes/krist/radbanr.gif FSUS|_themes/krist/radhbtn.gif FSUS|_themes/krist/radhbtn.gif FSUS|_themes/krist/radhsel.gif FSUS|_themes/krist/radvbtn.gif FSUS|_themes/krist/radvbtn.gif FSUS|_themes/krist/radvsel.gif FSUS|_themes/krist/radhom.gif FSUS|_themes/krist/radhom.gif FSUS|_themes/krist/radhom.gif FSUS|_themes/krist/radnxt.gif FSUS|_themes/krist/radnxt.gif FSUS|_themes/krist/radnxt.gif FSUS|_themes/krist/radbck.gif FSUS|_themes/krist/radbck.gif FSUS|_themes/krist/radbck.gif FSUS|_themes/krist/radup.gif FSUS|_themes/krist/radup.gif FSUS|_themes/krist/radup.gif FSUS|_themes/krist/radbul1.gif FSUS|_themes/krist/radbul2.gif FSUS|_themes/krist/radbul3.gif
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\atelier\\temp/c\:/atelier/temp:TR|27 Feb 2001 00:39:00 -0000
vti_syncwith_freedom.uwc.net\:21/%2fhome/uwcnet/html/mig_project:TX|27 Feb 2001 00:39:02 -0000
vti_syncofs_freedom.uwc.net\:21/%2fhome/uwcnet/html/mig_project:TW|27 Feb 2000 14:06:00 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig_project:TW|28 Apr 2000 15:07:00 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig_project:TX|26 Feb 2001 23:39:02 -0000
