vti_encoding:SR|utf8-nl
vti_author:SR|cchateauvieux
vti_modifiedby:SR|cchateauvieux
vti_timecreated:TR|06 May 2002 15:52:58 -0000
vti_timelastmodified:TR|24 Jun 2002 17:21:54 -0000
vti_filesize:IR|6572
vti_extenderversion:SR|4.0.2.4426
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|12 May 2002 18:08:17 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig:TX|24 Jun 2002 17:21:54 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig:TW|24 Jun 2001 17:22:00 -0000
vti_syncofs_support.metamerge.com\:21/%2fwww/docs/mig:TW|26 Jun 2001 13:54:00 -0000
vti_syncwith_support.metamerge.com\:21/%2fwww/docs/mig:TX|24 Jun 2002 17:21:54 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig_beta:TW|30 Jun 2001 12:00:00 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig_beta:TX|24 Jun 2002 17:21:54 -0000
vti_syncwith_freedom1.uwc.org\:21/%2fhome/uwcnet/html/mig:TX|12 May 2002 18:05:14 -0000
vti_syncofs_freedom1.uwc.org\:21/%2fhome/uwcnet/html/mig:TW|25 May 2001 15:18:00 -0000
vti_syncwith_www.uwc.net\:21/%2fhome/uwcnet/html/mig_unity:TX|12 May 2002 18:05:14 -0000
vti_syncofs_www.uwc.net\:21/%2fhome/uwcnet/html/mig_unity:TW|25 May 2001 16:40:00 -0000
vti_cacheddtm:TX|24 Jun 2002 17:21:54 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
